* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background: url(https://th.bing.com/th/id/OIP.vFAmMEYELsH_XxxVEbQxvAHaEo?pid=ImgDet&rs=1) no-repeat center center fixed;
    background-size: cover;
}

.container {
    width: 600px;
    height: 250px;
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-50% -50%);
    background: rgba(255, 255, 255, .4);
    backdrop-filter: blur(.5px);
    -webkit-backdrop-filter: blur(.5px);
    border: 2px double black;
    border-radius: 7px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, .2);
}

.container-title {
    text-align: center;
    margin: 15px 0;
    font-size: 2.5rem;
    color: crimson;
    text-decoration: 1px overline gray;
    transition: .3s;
}

.container-title:hover {
    font-size: 2.6rem;
}

.content {
    margin-top: 50px;
}

input {
    height: 4vh;
    width: 35%;
    padding-left: 10px;
    border-radius: 5px;
    background: none;
    outline: none;
    font-size: 1.1rem;
}

#input {
    margin-left: 4rem;
}

#input:hover, #result:hover {
    border-color: crimson;
}

span {
    font-size: 1.5rem;
    margin: .3rem;
}

#inputType, #resultType {
    height: 4vh;
    width: 10vw;
    margin-left: 1rem;
    margin-top: 1rem;
    text-align: center;
    color: crimson;
    border: 3px double gray;
    border-radius: 5px;
    background: none;
}

#inputType {
    margin: 10px 17%;
}